<div class="row">
	<div class="col-xs-12">
		<div class="box">
            
			<!-- Box Body -->
			<div class="box-body table-responsive no-padding">
                <table class="table table-bordered fc-data-table fc-planner-table">
                    <thead>
                        <tr>
                            <th rowspan="2"><input type="checkbox" ng-model="masterCheckbox.isChecked" ng-true-value="true" ng-false-value="false" ng-change="masterCheckboxChange()"></th>
                            <th rowspan="2">Status</th>
                            <th rowspan="2">ATM ID</th>
                            <th rowspan="2">Location</th>
                            <th rowspan="2">Forecast Accuracy</th>
                            
                            <th colspan="4" style="text-align:center">
                                <span class="glyphicon glyphicon glyphicon-chevron-left pull-left" aria-hidden="true" ng-click="prevDate()"></span>
                                {{activeDate}}
                                <span class="glyphicon glyphicon glyphicon-chevron-right pull-right" aria-hidden="true" ng-click="nextDate()"></span>
                            </th>
                            
                            <th colspan="4" style="text-align:center">Current Day : {{currentDate}}</th>
                            <th colspan="5" style="text-align:center">Cassette Wise Breakup</th>
                        </tr>
                        <tr>
                            <th>Opening Balance</th>
                            <th>Closing Balance</th>
                            <th>Dispense</th>
                            <th>Forecast</th>
                            <th>Opening Balance</th>
                            <th>Forecast</th>
                            <th>Loading Amount after Rules</th>
                            <th style="min-width:80px">Modified Amount</th>
                            <th>Denomination</th>
                            <th>Capacity</th>
                            <th>Current Notes</th>
                            <th>Loading Notes</th>
                            <th>Final Notes</th>
                        </tr>
				    </thead>
                    
                    <tbody>
                        <tr planner-table-row1 ng-repeat-start="atm in list" atm="atm"></tr>
                        <tr planner-table-row2 ng-repeat-end atm="atm"></tr>
                    </tbody>
                    
				</table>
			</div>
			
		</div>
	</div>
</div>
