<tr>
    <td rowspan="2">
        <div class="checkbox">
            <label><input type="checkbox" value="" ng-model="atm.isChecked" ng-true-value="true" ng-false-value="false"></label>
        </div>
    </td>
    <td rowspan="2" ng-class="atm.planStatus=='Not Planned'?'notPlanned':'planned'"></td>
    <td rowspan="2">{{atm.id}}</td>
    <td rowspan="2">{{atm.location}}</td>
    <td rowspan="2">{{atm.accuracy}}</td>
    
    <td rowspan="2">{{atm.activeData.openingBalance}}</td>
    <td rowspan="2">{{atm.activeData.closingBalance}}</td>
    <td rowspan="2">{{atm.activeData.dispense}}</td>
    <td rowspan="2">{{atm.activeData.forecast}}</td>
    <td rowspan="2">{{atm.currentData.openingBalance}}</td>
    <td rowspan="2">{{atm.currentData.forecast}}</td>
    <td rowspan="2">{{atm.currentData.loadingAmountAfterRules}}</td>
    <td rowspan="2" class="modified-amount-block"><input type="text" 
        class="form-control"
        ng-model="atm.currentData.modifiedAmount"
        ng-change="splitAndFill()"></td>
    
    <td rowspan="2" colspan="5" ng-hide="atm.cassettesExpand" class="cassetteExpandButton" ng-click="atm.cassettesExpand = !atm.cassettesExpand">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Expand
    </td>
    
    <td class="cassette-block" ng-show="atm.cassettesExpand">
        <label ng-repeat="cassette in atm.cassettes">{{cassette.denomination}}</label>
    </td>
    <td class="cassette-block" ng-show="atm.cassettesExpand">
        <label ng-repeat="cassette in atm.cassettes">{{cassette.capacity}}</label>
    </td>
    <td class="cassette-block" ng-show="atm.cassettesExpand">
        <label ng-repeat="cassette in atm.cassettes">{{cassette.currentNotes}}</label>
    </td>
    <td class="cassette-block" ng-show="atm.cassettesExpand">
        <label ng-repeat="cassette in atm.cassettes">{{cassette.loadingNotes}}</label>
    </td>
    <td class="cassette-block" ng-show="atm.cassettesExpand">
        <input type="text" class="form-control final-notes" 
            ng-repeat="cassette in atm.cassettes"
            ng-model="cassette.finalNotes">
    </td>
</tr>