<tr>
    <td colspan="5" ng-show="atm.cassettesExpand" class="cassetteExpandButton" ng-click="atm.cassettesExpand = !atm.cassettesExpand">
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>&nbsp;Collapse
    </td>
</tr>