<form role="form">
    
    <div class="row">
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'LHO/ZO'" model="o.lho_zo"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'State'" model="o.state" list="location.state"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'City'" model="o.city" list="location.city"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'Project'" model="o.project"></fc-select>
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'Bank'" model="o.bank" list="bank.list"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'Nodal Branch'" model="o.nodal_branch" list="nodalBranch.list"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'CRA'" model="o.cra_vendor"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'CRA Location'" model="o.cra_location"></fc-select>
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="col-sm-3 col-xs-12">
            <fc-select label="'Loading Method'" model="o.cash_load_method"></fc-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-multi-select label="'ATM Plan Status'" model="o.planStatus"></fc-multi-select>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-text label="'ATM ID'" model="o.atm_id"></fc-text>
        </div>
        
        <div class="col-sm-3 col-xs-12">
            <fc-text label="'Site ID'" model="o.site_id"></fc-text>
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="col-sm-6 col-xs-12">
            <fc-text label="'Tags'" model="o.tags"></fc-text>
        </div>
        
        <div class="col-sm-6 col-xs-12">
            
            <div class="row">
                
                <div class="col-xs-6">
                    <fc-text label="'Prediction Accuracy'" model="o.accuracy.gte"></fc-text>
                </div>
                
                <div class="col-xs-6">
                    <fc-text label="'.'" model="o.accuracy.lte"></fc-text>
                </div>
                
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
            
            <center>
                <button type="button" class="btn btn-primary" ng-click="fetch()"> Filter </button>
            </center>
            
        </div>
    </div>
    
</form>