<div class="form-group">
    <fc-label></fc-label>
    <md-switch ng-model="model" aria-label="Active State Switch" 
    ng-true-value="true" ng-false-value="false" class="md-primary">
        
    </md-switch>
</div>
