<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">User Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text label="'First Name'" model="o.fname"></fc-text>
                                    
                                    <fc-text label="'Last Name'" model="o.lname"></fc-text>
                                    
                                    <fc-select label="'Department'" model="o.department"></fc-select>
                                    
                                    <fc-text label="'Supervisor ID'" model="o.supervisor_id"></fc-text>
                                    
                                    <fc-text label="'Supervisor Name'" model="o.supervisor_name"></fc-text>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-select label="'Role'" model="o.role"></fc-select>
                                    
                                    <fc-text label="'User ID'" model="o.user_id" mode="mode" editdisabled required></fc-text>
                                    
                                    <fc-text label="'Email'" model="o.email" required></fc-text> 
                                    
                                    <fc-text label="'Contact #'" model="o.contact"></fc-text>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Permissions</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-multi-select label="'Bank(s)'" model="o.banks" list="bank.list"></fc-multi-select>
                                    
                                    <fc-multi-select label="'Screens(s)'" model="o.screens" list="screen.list"></fc-multi-select>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-multi-select label="'State(s)'" model="o.states" list="location.state"></fc-multi-select>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Save/ Cancel Bank details button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-right" ng-click="user.save()">Save</button>
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-left" ng-click="user.cancel()">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
