<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">ATM Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text label="'Site ID'" model="o.site_id" alphanumeric nomultispace></fc-text>
                                    
                                    <fc-text label="'ATM ID'" model="o.atm_id" mode="mode" editdisabled required alphanumeric nomultispace></fc-text>
                                    
                                    <fc-text label="'LHO/ZO'" model="o.lho_zo" alphanumeric nomultispace></fc-text>
                                    
                                    <fc-select label="'Country'" model="o.country" list="location.country" required></fc-select>
                                    
                                    <fc-select label="'State'" model="o.state" list="location.state" required></fc-select>
                                    
                                    <fc-select label="'City'" model="o.city" list="location.city" required></fc-select>
                                    
                                    <fc-text label="'Pincode'" model="o.pincode"></fc-text>
                                    
                                    <fc-select label="'Region'" model="o.region" required></fc-select>
                                    
                                    <fc-select label="'CIT Agency'" model="o.cra_vendor" list="cit.list" required></fc-select>
                                    
                                    <fc-date-picker label="'CIT Start Date'" model="o.cra_change_date"></fc-date-picker>
                                    
                                    <fc-select label="'Project'" model="o.project" screen="'atm-master-input'" required></fc-select>
                                    
                                    <fc-text label="'Latitude'" model="o.latitude" required></fc-text>
                                    
                                    <fc-text label="'Longitude'" model="o.longitude" required></fc-text>
                                    
                                    <fc-select label="'ATM Planning'" model="o.atm_planning" list="['YES', 'NO']" required></fc-select>
                                    
                                    <fc-select label="'Cash Load Method'" model="o.cash_load_method" required></fc-select>
                                    
                                    <fc-text label="'Tag'" model="o.tag"></fc-text>
                                    
                                    <fc-text label="'Accompanying ATM'" model="o.accompanying_atm"></fc-text>
                                    
                                    <fc-select label="'Switch Name'" model="o.switch_name" required></fc-select>
                                    
                                    <fc-text label="'ATM Serial Number'" model="o.atm_serial_number"></fc-text>
                                    
                                    <fc-text label="'ATM IP'" model="o.atm_ip"></fc-text>
                                    
                                    <fc-select label="'OS Version'" model="o.os_version" required></fc-select>
                                    
                                    <fc-select label="'EJ Software'" model="o.ej_software" required></fc-select>
                                    
                                    <fc-multi-select label="'Cash Collection Days [from Banks]'" model="o.ccdBank"></fc-multi-select>
                                    
                                    <fc-multi-select label="'Cash Loading Days [by CRAs]'" model="o.ccdCra"></fc-multi-select>
                                    
                                    <fc-select label="'ATM Chest Lock'" model="o.atm_chest_lock" required></fc-select>
                                    
                                    <fc-text label="'ATM Chest Lock Serial'" model="o.atm_chest_lock_serial"></fc-text>
                                    
                                    <fc-select label="'ATM Chest Lock Status'" model="o.atm_chest_lock_status" required></fc-select>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text label="'Site Name'" model="o.site" required></fc-text>
                                    
                                    <fc-select label="'Bank'" model="o.bank" list="bank.list" required></fc-select>
                                    
                                    <fc-select label="'Nodal Branch'" model="o.nodal_branch" list="nodalBranch.list" required></fc-select>
                                    
                                    <fc-select label="'Site Class'" model="o.site_class" required></fc-select>
                                    
                                    <fc-select label="'Site Sub Class'" model="o.site_sub_class" required></fc-select>
                                    
                                    <fc-select label="'ATM Make'" model="o.machine_make" required></fc-select>
                                    
                                    <fc-select label="'ATM Model'" model="o.machine_model" required></fc-select>
                                    
                                    <fc-date-picker label="'Cash Live Date'" model="o.cash_live_date"></fc-date-picker>
                                    
                                    <fc-date-picker label="'SAC Date'" model="o.sac_date"></fc-date-picker>
                                    
                                    <fc-text-area label="'Site Complete Address'" model="o.address" rows="'1'"></fc-text-area>
                                    
                                    <fc-text label="'Frequency of Loading per WEEK'" model="o.load_freq_per_week" required></fc-text>
                                    
                                    <fc-text label="'Monthly max loadings'" model="o.monthly_max_loadings" required></fc-text>
                                    
                                    <fc-select label="'Location Class'" model="o.location_class" required></fc-select>
                                    
                                    <fc-select label="'Expense'" model="o.expense" required></fc-select>
                                    
                                    <fc-text label="'LR Name'" model="o.lr_name"></fc-text>
                                    
                                    <fc-text label="'LR Contact #'" model="o.lr_contact"></fc-text>
                                    
                                    <fc-text label="'LR Mail ID'" model="o.lr_mail_id"></fc-text>
                                    
                                    <fc-text label="'Accessibility Start Time'" model="o.accessibility_start_time"></fc-text>
                                    
                                    <fc-text label="'Accessibility End Time'" model="o.accessibility_end_time"></fc-text>
                                    
                                    <fc-text label="'Response Time (hr)'" model="o.response_time"></fc-text>
                                    
                                    <fc-select label="'VIP Status'" model="o.mof_vip_status" required></fc-select>
                                    
                                    <fc-switch label="'ONV'" model="o.onv"></fc-switch>
                                    
                                    <fc-text label="'Distance from CRA/Nodal Branch'" model="o.distance"></fc-text>
                                    
                                    <fc-text label="'Insurance Limit'" model="o.insurance_limit" required></fc-text>
                                    
                                    <fc-text label="'Remarks'" model="o.remarks"></fc-text>
                                    
                                    <fc-switch label="'Lead ATM'" model="o.islead"></fc-switch>
                                    
                                    <fc-text label="'EOD (Days)'" model="o.eod" required></fc-text>
                                    
                                    <fc-select label="'Contract Type'" model="o.contract_type" required></fc-select>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Contact Details</h3>
                    </div>
                    
                    <!-- Contact Box -->
                    <fc-contact-box ng-repeat="c in o.contacts track by $index" c="c" remove="contact.remove(index)"></fc-contact-box>
                    
                    <!-- Add new contact button-->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="contact.add()">Add Contact</button>
                                </center>
                                
                            </div>
                        </div>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Cassette Configuration</h3>
                    </div>
                    
                    <div class="box-body">
                        
                        <div class="row">
                            
                            <div class="col-sm-8 col-sm-offset-2">
                                
                                <table class="table table-bordered cassette-table">
                                    <tbody>
                                        <tr>
                                            <th>Denomination</th>
                                            <th>Note Capacity</th>
                                            <th>Total Value</th>
                                        </tr>
                                        
                                        <tr ng-repeat="c in cassette.list track by $index">
                                            <td>{{c.denomination}}</td>
                                            <td>
                                                <fc-text label="''" model='o[c.noteCapacity]'></fc-text>
                                            </td>
                                            <td>
                                                {{o[c.noteCapacity] * c.denomination || 0}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <fc-error-box></fc-error-box>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Save/ Cancel Bank details button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-right" ng-click="atm.save()">Save</button>
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-left" ng-click="atm.cancel()">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
