<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <!-- Content Section -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header">
                        <h3 class="box-title">Denomination Config</h3>
                        
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                
                    <!-- Box Body -->
                    <div class="box-body">
                        
                        <div class="row">
                            
                            <div class="col-xs-12">
                                
                                <table class="table table-bordered fc-data-table fc-planner-table">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Denomination</th>
                                            <th>ATM Master</th>
                                            <th colspan="4">Dispense File</th>
                                            <th>Hopper File</th>
                                            <th rowspan="2">Actions</th>
                                        </tr>
                                        <tr>
                                            <th>Note Capacity</th>
                                            
                                            <th>Opening Balance</th>
                                            <th>Loading Balance</th>
                                            <th>Dispense Balance</th>
                                            <th>Closing Balance</th>
                                            
                                            <th>Hopper Amount</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        
                                        <tr ng-repeat="o in data track by $index">
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.denomination">
                                            </td>
                                            
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.noteCapacity">
                                            </td>
                                            
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.openingBalance">
                                            </td>
                                            
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.loadingBalance">
                                            </td>
                                            
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.dispenseBalance">
                                            </td>
                                            
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.closingBalance">
                                            </td>
                                            
                                            <td>
                                                <input type="text" 
                                                class="form-control"
                                                ng-model="o.hopperBalance">
                                            </td>
                                            
                                            <td>
                                                <i class="material-icons pull-left" ng-click="save(o)">save</i>
                                                <i class="material-icons pull-right" ng-click="delete(o)">delete_forever</i>
                                            </td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                                
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="addRow()">Add</button>
                                </center>
                                
                            </div>
                        </div>
                        
                    </div><!-- /.box-body -->
                    
                </div><!-- /.box -->
            </div>
        </div>
        
    </section>
    <!-- /.content -->
</div>
