<!-- Box Body -->
<div class="box-body">
    <form role="form">
        
        <!-- Contact Remove Button -->
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="close" ng-click="remove({index: $index})">&times;</button>
            </div>
        </div>
        
        <div class="row">
            
            <!-- Left Section-->
            <div class="col-sm-6 col-xs-12">
                
                <fc-text label="'Name'" model="c.name"></fc-text>
                
                <fc-text label="'Designation'" model="c.designation"></fc-text>
                
                <fc-text label="'Email ID'" model="c.email"></fc-text>
                
                <fc-select label="'Department'" model="c.department" list="common.department" required></fc-select>
                
            </div>
            
            <!-- Right Section -->
            <div class="col-sm-6 col-xs-12">
                
                <fc-text label="'Mobile No.'" model="c.mobile"></fc-text>
                
                <fc-text label="'Telephone No.'" model="c.telephone"></fc-text>
                
                <fc-select label="'Escalation Level'" model="c.escalation" required></fc-select>
                
                <div class="row">
                    
                    <div class="col-xs-6">
                        
                        <fc-switch label="'Send Indent'" model="c.sendIndent" ng-show="screen==='nodal' || screen==='cra-location'"></fc-switch>
                        
                    </div>
                    
                    <div class="col-xs-6">
                        
                        <fc-switch label="'Send Report'" model="c.sendReport" ng-show="screen==='nodal'"></fc-switch>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </form>
</div>
