<div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                
                <span class="pull-left">
                    <button type="button" class="btn btn-default" title="Back" ng-click="redirect()">
                        <i class="fa fa-arrow-left"></i>&nbsp; Back
                    </button>
                </span>
                
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        
                        <div class="row">
                            
                            <div class="col-xs-12">
                                
                                <div class="table-responsive">
                                    
                                    <table class="table table-bordered uploader-detail-table">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="(key, value) in o[0]">{{key}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="obj in o track by $index">
                                                <td ng-repeat="(key, value) in obj" ng-class="value.health"
                                                data-toggle="tooltip" data-container="body" title="{{value.msg}}">
                                                    <span ng-if="key != 'errors'">
                                                        {{value.value}}
                                                    </span>
                                                    <span ng-if="key == 'errors'">
                                                        <ul>
                                                            <li ng-repeat="e in value track by $index">{{e}}</li>
                                                        </ul>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
