<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>
    
    <!-- Uploader area -->
    <section class="content" style="padding-bottom: 0px">
        
        <div class="row">
            <div class="col-xs-12">
                
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <fc-select label="'File Type'" model="o.type" list="models" required></fc-select>
                            </div>
                            <div class="col-sm-4">
                                <input type="file" class="form-control" ngf-select ng-model="o.file" name="file" style="margin-top: 24px;">
                            </div>
                            <div class="col-sm-4">
                                <div class="btn-group" ng-hide="o.type == ''" style="margin-top: 24px;">
                                    <button type="button" class="btn btn-default"
                                        ng-click="upload()"
                                        ng-show="!(o.file === undefined || o.file === null)">
                                        Upload
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="getSample()">Get Sample</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="uploadInProgress">
                            <div class="col-xs-12">
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{o.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{o.progress}}%">
                                        <span class="sr-only">{{o.progress}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>
    
    <!-- Main content -->
    <section class="content" style="padding-top: 0px">
        
        <table-container 
            headers="headers"
            data="data"
            sort-fn="fetch()"
            params="params"
            page-change="fetch()"
            search="fetch()"
            redirect="redirect(id)"
            toggle="toggle(obj)"
            run-model="runModel(id)">
        </table-container>
        
    </section>
    <!-- /.content -->
</div>
