<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <!-- Box Header -->
            <div class="box-header">
                <h3 class="box-title">{{ip}}</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                </div>
            </div>

            <!-- Box Body -->
            <div class="box-body">

                <div class="row">

                    <div class="col-xs-12">

                        <div style="max-height: 400px; display: block; overflow: auto">
                            
                            <div ng-repeat="log in logs track by $index">{{log}}</div>
                            
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.box-body -->

        </div>
        <!-- /.box -->
    </div>
</div>
