<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <!-- Content Section -->
        <log-block ng-repeat="ip in ipList track by $index" ip="ip"></log-block>
        
    </section>
    <!-- /.content -->
</div>
