<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Nodal Branch Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-select label="'Bank'" model="o.bank" list="bank.list" mode="mode" editdisabled required></fc-select>
                                    
                                    <fc-text label="'Nodal Branch'" model="o.area" mode="mode" editdisabled required alphanumeric nomultispace></fc-text>
                                    
                                    <fc-text label="'SOL ID'" model="o.solId" alphanumeric nomultispace></fc-text>
                                    
                                    <fc-select label="'Zone'" model="o.zone" required></fc-select>
                                    
                                    <fc-text label="'Authorizer'" model="o.authorizer" required></fc-text>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text-area label="'Address'" model="o.address" rows="'1'"></fc-text-area>
                                    
                                    <fc-select label="'Country'" model="o.country" list="location.country" required></fc-select>
                                    
                                    <fc-select label="'State'" model="o.state" list="location.state" required></fc-select>
                                    
                                    <fc-select label="'City'" model="o.city" list="location.city" required></fc-select>
                                    
                                    <fc-text label="'Pincode'" model="o.pincode"></fc-text>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Contact Details</h3>
                    </div>
                    
                    <!-- Contact Box -->
                    <fc-contact-box ng-repeat="c in o.contacts track by $index" c="c" remove="contact.remove(index)" screen="screen"></fc-contact-box>
                    
                    <!-- Add new contact button-->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="contact.add()">Add Contact</button>
                                </center>
                                
                            </div>
                        </div>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <fc-error-box></fc-error-box>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Save/ Cancel Bank details button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-right" ng-click="nodal.save()">Save</button>
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-left" ng-click="nodal.cancel()">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
