<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
                
                <span class="pull-right">
                    <button type="button" class="btn btn-default" title="Back" ng-click="redirect('back')" ng-show="show.back">
                        <i class="fa"></i>&nbsp; Back
                    </button>
                    <button type="button" class="btn btn-default" title="Add State" ng-click="redirect('state')" ng-show="show.stateList">
                        <i class="fa fa-list"></i>&nbsp; State List
                    </button>
                    <button type="button" class="btn btn-default" title="Add City" ng-click="redirect('city')" ng-show="show.cityList">
                        <i class="fa fa-list"></i>&nbsp; City List
                    </button>
                    <button type="button" class="btn btn-default" title="Add New State" ng-click="redirect('new')" ng-show="show.addState">
                        <i class="fa fa-plus"></i>&nbsp; Add New
                    </button>
                    <button type="button" class="btn btn-default" title="Add New City" ng-click="redirect('new')" ng-show="show.addCity">
                        <i class="fa fa-plus"></i>&nbsp; Add New
                    </button>
                </span>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <table-container 
            headers="headers"
            data="data"
            sort-fn="fetch()"
            params="params"
            page-change="fetch()"
            search="fetch()"
            redirect="redirect(id)"
            toggle="toggle(obj)">
        </table-container>
        
    </section>
    <!-- /.content -->
</div>
