<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a data-target="#" class="pointer">
                    <i class="fa fa-dashboard"></i>
                    <span>Masters</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ng-repeat="obj in masters track by $index" ng-class="obj.acitve?'active':''" ng-if="obj.show">
                        <a data-target="#" class="pointer" ng-click="navigate(obj)">
                            <i class="fa fa-circle-o"></i>{{obj.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-repeat="obj in navList track by $index" ng-class="obj.acitve?'active':''" ng-if="obj.show">
                <a data-target="#" class="pointer" ng-click="navigate(obj)">
                    <i class="fa" ng-class="obj.icon"></i>
                    <span>{{obj.name}}</span>
                </a>
            </li>
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
