<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Rule Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text label="'Rule Name'" model="o.rname" required alphanumeric nomultispace></fc-text>
                                    
                                    <fc-date-picker label="'Start Date'" model="o.start_date"></fc-date-picker>
                                    
                                    <fc-multi-select label="'Bank'" model="o.aggs.banks" list="bank.list"></fc-multi-select>
                                    
                                    <fc-multi-select label="'CRA'" model="o.aggs.cras" list="cra.list"></fc-multi-select>
                                    
                                    <fc-multi-select label="'ATM'" model="o.aggs.atms" list="atm.list"></fc-multi-select>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <div class="row">
                                        
                                        <div class="col-xs-4">
                                            <fc-select label="'Rule'" model="o.op" list="['Add', 'Subtract']" required></fc-select>
                                        </div>
                                        
                                        <div class="col-xs-4">
                                            <fc-text label="'.'" model="o.value"></fc-text>
                                        </div>
                                        
                                        <div class="col-xs-4">
                                            <fc-select label="'.'" model="o.type" list="['Percent', 'Value']"></fc-select>
                                        </div>
                                        
                                    </div>
                                    
                                    <fc-date-picker label="'End Date'" model="o.end_date"></fc-date-picker>
                                    
                                    <fc-multi-select label="'Nodal Branch'" model="o.aggs.nodalBranches" list="nodal.list"></fc-multi-select>
                                    
                                    <fc-multi-select label="'CRA Location'" model="o.aggs.CRALocations"></fc-multi-select>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <fc-error-box></fc-error-box>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Save/ Cancel Rule button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-right" ng-click="rule.save()">Save</button>
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-left" ng-click="rule.cancel()">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
