<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Rule Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body table-responsive no-padding">
                        
                        <table class="table table-hover fc-data-table">
                            <tr>
                                <td>
                                    Rule Name
                                </td>
                                <td>
                                    {{o.rname}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rule
                                </td>
                                <td>
                                    {{o.op}} {{o.value}} <span ng-if="o.percent">%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Start Date
                                </td>
                                <td>
                                    {{o.start_date}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    End Date
                                </td>
                                <td>
                                    {{o.end_date}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bank
                                </td>
                                <td>
                                    <ol>
                                        <li ng-repeat="x in o.aggs.bank track by $index">{{x}}</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nodal Branch
                                </td>
                                <td>
                                    <ol>
                                        <li ng-repeat="x in o.aggs.nodal track by $index">{{x}}</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CRA
                                </td>
                                <td>
                                    <ol>
                                        <li ng-repeat="x in o.aggs.CRA track by $index">{{x}}</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ATM
                                </td>
                                <td>
                                    <ol>
                                        <li ng-repeat="x in o.aggs.atmID track by $index">{{x}}</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Cancel details button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="rule.cancel()">Cancel</button>
                                </center>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
