<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
                
                <span class="pull-right">
                    <button type="button" class="btn btn-default" title="Add New" ng-click="redirect('new')">
                        <i class="fa fa-plus"></i>&nbsp; Add New
                    </button>
                </span>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <table-container 
            headers="headers"
            data="data"
            sort-fn="fetch()"
            params="params"
            page-change="fetch()"
            search="fetch()"
            redirect="redirect(id)"
            toggle="toggle(obj)">
        </table-container>
        
    </section>
    <!-- /.content -->
</div>
