<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>FORE</b>CASH</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Username" ng-model="o.username">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Password" ng-model="o.password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="login()">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!--<a href="#">I forgot my password</a>-->
                
                <br>
                
                <span>
                    <center>
                        {{errorMsg}}
                    </center>
                </span>

            </div>
            <!-- /.login-box-body -->
        </div>

    </section>
    <!-- /.content -->
</div>
