<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-select label="'Master'" model="o.master" list="commons.list" required></fc-select>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text label="'Value'" model="o.value" required></fc-text>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <fc-error-box></fc-error-box>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Save/ Cancel Bank details button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-right" ng-click="commons.save()">Save</button>
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-left" ng-click="commons.cancel()">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
