<div class="row">
	<div class="col-xs-12">
		<div class="box">
			
			<!-- Box Header -->
			<div class="box-header">
				<h3 class="box-title">{{cra.key}}</h3>
				
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
				
			</div>
			
			<!-- Box Body -->
			<div class="box-body no-padding">
				
				<table class="table table-hover table-bordered fc-data-table fc-indent-table">
					<tr>
						<th>ATM</th>
						<th>ATM Location</th>
						<th>Priority Code</th>
						<th ng-repeat="c in cra.atm_id.buckets[0].cassettes">deno_{{c.denomination}}</th>
						<th>Total</th>
						<th>LOD\EOD</th>
					</tr>
					<tr ng-repeat="atm in cra.atm_id.buckets track by $index">
						<td>{{atm.key}}</td>
						<td>{{atm.address}}</td>
						<td>--</td>
						<td ng-repeat="c in atm.cassettes">{{c.finalNotes}}</td>
						<td>{{atm.totalAmount}}</td>
						<td>{{atm.status}}</td>
					</tr>
				</table>
				
			</div>
			<!-- /.box-body -->
			
			<!-- Box Footer -->
			<div class="box-footer clearfix">
				<center>Total Amount: {{indentTotalAmount}}</center>
			</div>
			
		</div><!-- /.box -->
	</div>
</div>
