<div class="row">
	<div class="col-xs-12">
		<div class="box">
			
			<!-- Box Header -->
			<div class="box-header">
				<h3 class="box-title">{{nb.key}}</h3>
				
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
				
			</div>
			
			<!-- Box Body -->
			<div class="box-body">
				
				<indent-cra-container ng-repeat="cra in nb.cra.buckets track by $index" cra="cra"></indent-cra-container>
				
			</div>
			<!-- /.box-body -->
			
		</div><!-- /.box -->
	</div>
</div>
