<div class="row">
	<div class="col-xs-12">
		<div class="box">
			
			<!-- Box Header -->
			<div class="box-header">
				<h3 class="box-title">{{state.key}}</h3>
				
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
				
			</div>
			
			<!-- Box Body -->
			<div class="box-body">
				
				<indent-nodal-container ng-repeat="nb in state.nodalBranch.buckets track by $index"></indent-nodal-container>
				
			</div>
			<!-- /.box-body -->
			
		</div><!-- /.box -->
	</div>
</div>
