<div class="row">
	<div class="col-xs-12">
		<div class="box">
			
			<!-- Box Body -->
			<div class="box-body no-padding">
				
				<table class="table table-hover table-bordered fc-data-table fc-indent-table">
					<tr>
						<th></th>
						<th colspan="{{indent.atms[0].cassettes.length}}">
							{{indent.indent_order_number}}
						</th>
						<th colspan="{{indent.atms[0].cassettes.length}}">
							{{indent.revisedIndentNumber}}
						</th>
						<th></th>
					</tr>
					
					<tr>
						<th>ATM</th>
						<th ng-repeat="c in indent.atms[0].cassettes">Deno {{c.denomination}}</th>
						<th ng-repeat="c in indent.atms[0].rCassettes">Deno {{c.denomination}}</th>
						<th style="width: 150px; padding: 2px;">
							<!--<input type="text" class="form-control"-->
							<!--	style="width: 146px;"-->
							<!--	ng-model="indent.revisedIndentTotalAmount"-->
							<!--	ng-change="splitIndentAmount()">-->
						</th>
					</tr>
					<tr ng-repeat="atm in indent.atms track by $index">
						<td>{{atm.key}}</td>
						<td ng-repeat="c in atm.cassettes">{{c.finalNotes}}</td>
						
						<td ng-repeat="c in atm.rCassettes" style="width: 150px; padding: 2px;">
							<input type="text" class="form-control"
								style="width: 146px;"
								ng-model="c.finalNotes"
								ng-change="updateTotal(atm)">
						</td>
						
						<td>{{atm.revisedTotalAmount}}</td>
					</tr>
				</table>
				
			</div>
			<!-- /.box-body -->
			
		</div><!-- /.box -->
	</div>
</div>
