/* Angular UI defaults*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.content-header h1{
    margin: 0px;
    font-size: 24px;
}
.content-header .btn{
    padding: 4px 12px;
}

.fc-data-table md-switch{
    margin: 0px;
}
.fc-data-table md-switch.md-checked .md-bar{
    background-color: rgb(210, 214, 222);
}
.fc-data-table md-switch.md-checked .md-thumb{
    background-color: rgb(60, 141, 188);
}
.fc-data-table i{
    color: #868181;
    cursor: pointer;
}

/* Select 2*/
.select2-container{
    padding: 0px;
}
.select2-container .select2-choice{
    border: 0px;
    padding: 6px 12px;
    background: transparent;
    height: 32px;
    border-radius: 0px;
    box-shadow: none;
}
.select2-container .select2-chosen{
    height: 18px;
    vertical-align: middle;
    line-height: 20px;
    vertical-align: top;
    font-family: Roboto, Helvetica Neue, sans-serif;
}
.select2-container .select2-choice .select2-arrow{
    border-left: 0px;
    border-radius: 0px;
    background: transparent;
    background-image: none;
}
.select2-container .select2-choice .select2-arrow b{
    background-position: 0px 3px;
}
.select2-result-label{
    height: 27px;
}
.ui-select-dropdown{
    box-shadow: none;
    position: relative;
    margin-left: -1px;
    margin-right: 2px;
    top: 2px;
}
.search-container{
    top: 0px;
}
.ui-select-search.select2-input{
    margin-top: 6px;
}
.select2-results{
    margin-right: 0px;
    padding-left: 0px;
}

fc-multi-select .ui-select-choices{
    position: absolute;
    top: 31px;
}

.form-group > md-switch{
    margin: 0px;
}

.planner-filter-btn{
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 26px;
}

.action-btn {
    font-size: 14px;
    padding: 2px 10px;
    color: #666;
    background: transparent;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.fc-planner-table{
    font-size: 12px;
}
.fc-planner-table label{
    display: block;
    height: 22px;
}
.fc-planner-table > tbody > tr > td{
    padding: 4px;
}
.fc-planner-table .checkbox{
    margin: 0px;
}
.fc-planner-table .cassette-block input{
    padding: 2px;
    height: 22px;
    min-width: 76px;
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 14px;
}
.fc-planner-table .modified-amount-block{
    padding: 0px;
}
.fc-planner-table .modified-amount-block > input{
    padding: 4px;
}
.fc-planner-table .planned{
    background-color: green;
}
.fc-planner-table .notPlanned{
    background-color: red;
}


.no-padding{
    padding: 0px;
}
.content{
    min-height: 0px;
}
.refine-collapsed-box{
    margin-bottom: 0px;
}

.cassette-table tbody, th, td{
    text-align: center;
}
.cassette-table .form-group{
    margin-bottom: 0px;
}

.fc-spinner{
    position: fixed;
    z-index: 809;
    background: rgba(128, 128, 128, 0.2);
    display: none;
    top: 0px;
    left: 0px;
}

.transparent{
    color: transparent;
}

.indent-tree-box .box{
    border: 0.5px solid rgba(210, 214, 222, 0.5);
}
.fc-indent-table > tbody > tr:first-child{
    background-color: #f5f5f5;
}

.uploader-detail-table {
    display: block;
    width: 100%;
    overflow: auto;
}
.uploader-detail-table .Warning{
    background-color: #FFFBE6;
}
.uploader-detail-table .Error{
    background-color: #FA8258;
}
.uploader-detail-table ul{
    padding-left: 15px;
    min-width: 400px;
    text-align: left;
}
