<header class="main-header">
    <!-- Logo -->
    <a data-target="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>F</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>FORE</b>CASH</span>
    </a>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a data-target="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="fc/images/ak.png" class="user-image hidden-xs" alt="User Image">
                        <span>{{user.fullname}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat"
                                    data-toggle="modal" data-target="#passwordChangeModal">
                                    Change Password
                                </a>
                            </div>
                            <div class="pull-right">
                                <a data-target="#" class="btn btn-default btn-flat" ng-click="logout()">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
        
    </nav>
</header>

<!-- Change Password Modal -->
<div class="modal fade" id="passwordChangeModal">
    <div class="modal-dialog">
        
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            
            <div class="modal-body">
                
                <div class="row">
                    
                    <div class="col-xs-12">
                        <fc-text label="'Current Password'" model="o.old_password" required nocaps></fc-text>
                    </div>
                    
                    <div class="col-xs-12">
                        <fc-text label="'New Password'" model="o.password" required nocaps></fc-text>
                    </div>
                    
                    <div class="col-xs-12">
                        <fc-error-box></fc-error-box>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="changePassword()">Change Password</button>
            </div>
            
        </div>
        <!-- /.modal-content -->
        
    </div>
    <!-- /.modal-dialog -->
    
</div>
