<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>
    
    <!-- Buttons & Refine Panel -->
    <section class="content">
        
        <div class="row">
            
            <div class="col-md-12">
                <div class="box collapsed-box refine-collapsed-box">
                    <div class="box-header with-border no-padding">
                        
                        <!-- Refine Button -->
                        <div class="pull-left">
                            <button type="button" class="btn btn-box-tool planner-filter-btn" data-widget="collapse">
                                <i class="fa fa-filter">&nbsp;Filter</i>
                            </button>
                        </div>
                        
                        <h3 class="box-title pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default action-btn" 
                                    ng-repeat="b in buttons track by $index"
                                    ng-click="b.action()">
                                    
                                    {{b.name}}
                                    
                                </button>
                            </div>
                            
                        </h3>
                        
                    </div>
                    <!-- /.box-header -->
                    
                    <div class="box-body" style="display: none;">
                        
                        <refine-container params="params" fetch="fetch()"></refine-container>
                        
                    </div>
                    
                </div>
                <!-- /.box -->
            </div>
            
        </div>
        
    </section>

    <!-- Main content -->
    <section class="content">
        
        <planner-table ng-repeat="(key, value) in atms" list="value" ts="ts"></planner-table>
        
    </section>
    <!-- /.content -->
</div>
