<!-- Box Body -->
<div class="box-body">
    <form role="form">
        
        <div class="row">
            
            <!-- Left Section-->
            <div class="col-sm-6 col-xs-12">
                
                <fc-date-picker label="'Start Date'" model="c.startDate"></fc-date-picker>
                
                <fc-text label="'FIS Signing Authority'" model="c.fisSignAuth"></fc-text>
                
            </div>
            
            <!-- Right Section -->
            <div class="col-sm-6 col-xs-12">
                
                <fc-date-picker label="'End Date'" model="c.endDate"></fc-date-picker>
                
                <fc-text label="'Bank Signing Authority'" model="c.bankSignAuth"></fc-text>
                
            </div>
            
        </div>
        
    </form>
</div>
