<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <!-- Refine Section -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                
                    <!-- Box Body -->
                    <div class="box-body">
                        
                        <div class="row">
                            
                            <div class="col-sm-3 col-xs-12">
                                <fc-select label="'Bank'" model="params.bank" list="bank.list"></fc-select>
                            </div>
                            
                            <div class="col-sm-3 col-xs-12">
                                <fc-select label="'State'" model="params.state" list="location.state"></fc-select>
                            </div>
                            
                            <div class="col-sm-3 col-xs-12">
                                <fc-select label="'Nodal Branch'" model="params.nodal_branch" list="nodalBranch.list"></fc-select>
                            </div>
                            
                            <div class="col-sm-3 col-xs-12">
                                <fc-select label="'CRA'" model="params.cra_vendor"></fc-select>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-xs-12">
                                <fc-select label="'Indent'" model="params.id" list="indent.list"></fc-select>
                            </div>
                            
                        </div>
                        
                    </div><!-- /.box-body -->
                    
                    <div class="box-footer" ng-show="params.id.length">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="fetch()">Fetch</button>
                                </center>
                                
                            </div>
                        </div>
                    </div><!-- /.box-footer -->
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <!-- Content Section -->
        <div class="row" ng-show="indent.data.atms.length">
            <div class="col-xs-12">
                <div class="box indent-tree-box">
                
                    <!-- Box Body -->
                    <div class="box-body">
                        
                        <revised-indent-container indent="indent.data"></revised-indent-container>
                        
                    </div><!-- /.box-body -->
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <!-- Export Section -->
        <div class="row" ng-show="indent.data.atms.length">
            <div class="col-xs-12">
                <div class="box">
                
                    <!-- Box Body -->
                    <div class="box-body">
                        
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="export()">Export</button>
                                </center>
                                
                            </div>
                        </div>
                        
                    </div><!-- /.box-body -->
                    
                </div><!-- /.box -->
            </div>
        </div>
        
    </section>
    <!-- /.content -->
</div>
