<div class="row">
	<div class="col-xs-12">
		<div class="box">
			
			<!-- Box Header -->
			<div class="box-header">
				<h3 class="box-title">
					<i class="fa fa-refresh" aria-hidden="true" ng-click="sortFn()" style="outline: none; opacity: 0.5"></i>
				</h3>
				
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="params.q" ng-model-options='{debounce: 500}' ng-change="search()">
					
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Box Body -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover fc-data-table">
					<tr>
						<th ng-repeat="header in headers" ng-click="processSorting(header)">
							{{header.title}}
							<span class="pull-right" ng-show="params.sort==header.key">
								<span ng-show="header.type==='string'">
									<i class="fa fa-sort-alpha-asc" aria-hidden="true" ng-show="params.order==='asc'"></i>
									<i class="fa fa-sort-alpha-desc" aria-hidden="true" ng-show="params.order==='desc'"></i>
								</span>
								<span ng-show="header.type==='number'">
									<i class="fa fa-sort-numeric-asc" aria-hidden="true" ng-show="params.order==='asc'"></i>
									<i class="fa fa-sort-numeric-desc" aria-hidden="true" ng-show="params.order==='desc'"></i>
								</span>
							</span>
						</th>
					</tr>
					<tr ng-repeat="obj in data.hits track by $index">
						<td ng-repeat="h in headers track by $index">
							<span ng-if="!(h.key=='edit' || h.key=='active' || h.key=='view' || h.key=='ufcid')">
								<span ng-if="h.type=='date'" ng-bind="formatDate(h, obj[h.key])"></span>
								<span ng-if="!(h.type=='date')">{{obj[h.key]}}</span>
							</span>
							<span ng-if="h.key=='edit'">
								<i class="material-icons" ng-click="redirect({id: obj['fc/id']})">mode_edit</i>
							</span>
							<span ng-if="h.key=='view'">
								<i class="material-icons" ng-click="redirect({id: obj['fc/id']})">visibility</i>
							</span>
							<span ng-if="h.key=='active'">
								<div layout="row" layout-align="center center">
									<md-switch ng-model="obj[h.key]" aria-label="Active State Switch" 
										ng-true-value="true" ng-false-value="false"
										ng-change="toggle({obj: obj})"
										class="md-primary"></md-switch>
								</div>
							</span>
							<span ng-if="h.key=='ufcid'">
								<a href="#"
									onclick="return false;"
									ng-click="redirect({id: obj['ufcid']})"
									ng-show="obj.status === 'fail'"
									aria-hidden="false"
									class="">
									Details
								</a>
								
								<a href="#"
									onclick="return false;"
									ng-click="runModel({id: obj['fc/id']}); modelRunning=true"
									ng-show="obj.status === 'success' && 
										obj.identifier === 'CASH BALANCE FILE' && !modelRunning"
									aria-hidden="false"
									class="">
									Run Model
								</a>
								
							</span>
					    </td>
					</tr>
				</table>
			</div><!-- /.box-body -->
			
			<!-- Box Footer -->
			<div class="box-footer clearfix">
				<ul uib-pagination
					total-items="data.total"
					ng-model="params.page"
					ng-change="pageChange()"
					max-size="3"
					class="pagination-sm no-margin pull-right"
					boundary-link-numbers="true">
				</ul>
			</div>
			
		</div><!-- /.box -->
	</div>
</div