<div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="pull-left">
                    {{pageHeader}}
                </h1>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Project Details</h3>
                    </div>
                    
                    <!-- Box Body -->
                    <div class="box-body">
                        <form role="form">
                            
                            <div class="row">
                                
                                <!-- Left Section-->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-text label="'Project Name'" model="o.name" mode="mode" editdisabled required alphanumeric nomultispace></fc-text>
                                    
                                </div>
                                
                                <!-- Right Section -->
                                <div class="col-sm-6 col-xs-12">
                                    
                                    <fc-select label="'Bank'" model="o.bank" list="bank.list" mode="mode" editdisabled required></fc-select>
                                    
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Box Header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">Contract Details</h3>
                    </div>
                    
                    <!-- Add new contact button-->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                
                                <center>
                                    <button type="button" class="btn btn-primary" ng-click="contract.add()" ng-show="contract.showBtn">Renew Contract</button>
                                </center>
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- Contact Box -->
                    <fc-contract-box ng-repeat="c in o.contracts track by $index" c="c" remove="conrtact.remove(index)" screen="screen"></fc-contract-box>
                    
                </div><!-- /.box -->
            </div>
        </div>
        
        <fc-error-box></fc-error-box>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    <!-- Save/ Cancel Bank details button -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-right" ng-click="project.save()">Save</button>
                                
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                
                                <button type="button" class="btn btn-primary pull-left" ng-click="project.cancel()">Cancel</button>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <!-- /.content -->
    
</div>
